body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #f9f9f9;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: #fff;
}

.event-details-wrapper {
  height: 390px;
  width: 100%;
  border-radius: 6px;
  background-color: #1a1a1a;
  border: 1px solid #444;
  padding: 20px;
}

form > input {
  margin: 2px;
  padding: 4px;
  width: 95%;
  margin-left: 9px;
  text-align: center;
  height: 25px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #000;
  color: #f9f9f9;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3399ff;
  background-color: #111;
}

.date {
  width: 20%;
}

label {
  margin-left: 9px;
  font-size: 0.95rem;
  font-weight: 800;
  color: #ddd;
  margin-bottom: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.eventname {
  margin-top: 9px;
}

input,
textarea {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #f9f9f9;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 8px 10px;
}

.aboutevent {
  height: 90px;
  width: 95%;
  padding: 10px;
  resize: none;
  text-align: left;
  vertical-align: top;
  overflow-y: auto;
  margin: 5px 10px;
}

button {
  border: none;
  margin-top: 4px;
  margin-left: 9px;
  width: 1452px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

button:hover {
  background-color: #0056d2;
  cursor: pointer;
}

#home {
  width: 100px;
  height: 40px;
  background-color: #eb5656;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#home:hover {
  background-color: #f50404;
}
